p{
  line-height: 1.5rem;
  font-size: 1.2rem;
}
.contenedor-carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.419);
  border-radius: 16px;
}
.content-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  & h1{
    text-align: center;
    font-weight: 600;
    color: rgb(69, 9, 70);
  }
  & h4{
    font-style: italic;
    text-align: center;
  }
}

.carrusel {
  display: flex;
  border-radius: 16px;
  justify-content: center;
  overflow: hidden; /* Ocultar cualquier contenido que se desborde */
  height: 100%; /* Asegurarse de que el carrusel tenga el mismo alto que el contenedor */
  position: relative; /* Para posicionar correctamente las imágenes dentro */
}
/* CSS */
.carrusel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease; /* Agregar una transición suave para la opacidad */
}



@media (max-width: 800px){
  .carrusel{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 450px;  
}
}
@media (max-width: 650px){
  .carrusel{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;  
}
}


@media (max-width: 570px){
  .contenedor-carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.419);
    border-radius: 16px;
  }
  
.carrusel {
  display: flex;
  border-radius: 16px;
  justify-content: center;
  overflow: hidden; /* Ocultar cualquier contenido que se desborde */
  height: 100%; /* Asegurarse de que el carrusel tenga el mismo alto que el contenedor */
  position: relative; /* Para posicionar correctamente las imágenes dentro */
}
/* CSS */
.carrusel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease; /* Agregar una transición suave para la opacidad */
}
}
@media (max-width: 444px){
  .contenedor-carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.419);
    border-radius: 16px;
  }
  .carrusel{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;  
  }
}
