h3{
  margin-top: 30px;
}
.content-box{
  & ul{
    text-align: justify;
    line-height: 1.5rem;
    font-size: 1.2rem;
  }
}
.container-img{
  display: flex;
  justify-content: center;
  width: 100%;
  & img{
    max-height: 500px;

  }
}

@media (max-width: 800px){
  .container-img{
    display: flex;
    justify-content: center;
    width: 100%;
    & img{
      max-height: 300px;
  
    }
  }
}